

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
     font-size: 100%;
     background: linear-gradient(111.95deg, #006378 11.74%, rgba(0, 99, 120, 0.89) 36.44%, rgba(3, 168, 203, 0.53) 81.16%);    
    
}

.cabecalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;      
} 

.cabecalho-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Artifika', serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin-left: 8px;
}

.navigation_bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 10px;
    margin: 0;
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background: #004958;   
}

.navigation_item {
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}

.navigation_item:hover {
    color: #93dbe0;
}

.cadastro-titulo {
    font-family: 'Artifika';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
}

.cadastro-subtitulo {
  color: #FFFFFF;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 0px;
  text-align: center;
  padding-top: 2%
}

.campo {
    margin-bottom: 28px;
}

.campo label {
    margin-bottom: 4px;
    color: #FFFFFF;
    display: block;
}

.campo input {
    padding: 6px;
    border: 2px solid rgba(0, 240, 255, 0.6);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
    display: block;
    font-family: "nunito-sans";
    font-weight: 600;
    width: 220px;
}

.campo input:focus {
    background-color: #93dbe0;
    font-family: "nunito-sans";
    font-weight: 600;
}

.btn {
    color: #FFFFFF;
    font-size: 23px;
    background: #194d58;
    border: 1px solid #FFFFFF;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.438);
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 42.6%;
}

.btn:hover {
    background: #006378;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
}

.grupo_form {
    border: 0;
    margin-left: 41.7%;
    margin-top: 1%;
}

input, select, button {
    border-radius: 5px;
}



.rodape_2 {
    display: flex; 
  }
.copyright_2 {
    display: flex;
    margin-left: 38%;
    margin-top: 15%;  
  }

.error {
    display: none;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    color: rgb(197, 0, 0);
}