@import url('https://fonts.googleapis.com/css2?family=Artifika&family=Nunito+Sans,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    background: linear-gradient(111.95deg, #006378 11.74%, rgba(0, 99, 120, 0.89) 36.44%, rgba(3, 168, 203, 0.53) 81.16%);



}
.conteudo_tela1 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.conteudo_tela2 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}     
.conteudo_tela3 {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 
.cabecalho-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;    
    
} 
.cabecalho-nome {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Artifika', serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 49px;
    margin-left: 8px;
}

.navigation_bar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 10px;
    margin: 0;
    background: rgba(0, 0, 0, 0.51);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background: #004958;
    
}

.navigation_item {
    display: flex;
    justify-content: flex-start;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
}
.login-registro {
    display: flex;
    gap: 20px;
    margin-left: 950px;
    color: rgb(255, 255, 255);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.cabecalho-registro {
  color: #FFFFFF;
}
.cabecalho-login:hover {
    color: #93dbe0;
}
.cabecalho-registro:hover {
    color: #93dbe0;
}
.navigation_item:hover {
    color: #93dbe0;
}
.conteudo_frase {
    display: flex;
    font-family: 'Artifika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 31%;
    margin-top: 5%;
    -webkit-text-stroke: 0.5px rgba(0, 240, 255, 0.6);
}
.conteudo_telas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conteudo_tela1 {
    display: flex;
    margin-top: 8%;
    margin-left: 5%;
}

.conteudo_tela2 {
    display: flex;
    margin-top: 4%;
    
}
.conteudo_tela3 {
    display: flex;
    margin-top: 8%;
    margin-right: 5%;
}
.baixar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.texto {
    display:flex;
    justify-content: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1%;
}

.rodape {
    display: fixed;
    margin-top: 100px;
    margin-left: 10px;
    
}
.copyright {
    display: fixed;
    margin-left: 26%;
    
}
.rodape_redes {
    display: fixed;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
   
}
  .content {
    position: absolute;
    top: 174%;
    left: 18.1%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Nunito Sans';
    font-size: 35px;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
  }
 
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 140px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
  }
  
  @-webkit-keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @-webkit-keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }
.section_2 {
    margin-top: 60px;
    height: 400px;
    width: 85%;
    background: #004150;
    box-shadow: 6px 5px 4px rgba(0, 0, 0, 0.25);
}

.texto_convencimento {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 680;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  width: 1050px;
  padding-left: 45px;
  padding-top: 107px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.paragrafo_2 {
  padding-top: 20px;
}
.paragrafo_3 {
  padding-top: 20px;
}
.botoes_cadastro {
  color: rgb(255, 255, 255);
}




